@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

//  Contents 

// A. Global Settings  
// B. Breadcrumbs and profile icon 
// C. Absense Alert
// D. Stories
// E. Top cards 
// F. Notifications 
// G. Reminders 
// H. Absensees 
// I. Events
// J. Milestones 
// K. Modals
// 


//////////////////////////////
//A. Global Settings 
//////////////////////////////

$theme-colors: (
	"blue": #2579ff,
	"purple": #653af6,
	"light": #f6f7ff,
	"danger": #fc4663
);

$gradient: linear-gradient(to bottom right, #3023ae, #c86dd7);
$blue: #2579ff;


h1 {
  font-family: 'Rubik';
	font-weight: 500  !important;
	font-size: 35px !important;
	color: black;
}


//used for date numbers only
h2 {
   font-family: 'Rubik';
	font-size: 28px !important;
}

//tile headers
h3 {
   font-family: 'Rubik';
	font-size: 16px !important;
	color: black;
}

//item name
h4  {
   font-family: 'Rubik';
	font-size: 14px !important;
}

//item description
p {
   font-family: 'Rubik';
	font-weight: 400 !important;
	font-size: 14px !important;
	color: black;
}

.tile {
	background-color: white;
	box-shadow: 5px 10px 20px #e5e7ff;
}

.hide {
	display: none !important;
}

//regular pointer
.pnt:hover {
	cursor: pointer;
}

.hover:hover {
	cursor: pointer;
	background: #f6f7ff;
}

.br-10 {
	border-radius: 10px !important;
}

@media screen and (max-width: 768px) {
	.seperator {
		width: 100%;
	}
}

//////////////////////////////
//B. Breadcrumbs and profile icon 
//////////////////////////////

	@media screen and (max-width: 375px) {
	#breadcumbs {
		display: none !important;
	}

	#profile {
		position: absolute;
		top: 2px;
		right: 20px;
	}
}

//////////////////////////////
//C. Absense Alert
//////////////////////////////

.alert {
	border-radius: 15px;
	position: relative;
	justify-content: space-between;
    display: flex;
}

.doneBtn {
	position: relative;;
}

//////////////////////////////
//C. Stories
//////////////////////////////

.storyImg {
	padding: 5px;
	position: relative;
	border-radius: 50%;
	height: 75px;
	width: 75px;
	margin: auto; 
}

.stories p {
	margin-left: -25px;
	margin-right: -25px;
	padding-top: 10px;
	text-align: center;
}

.hasStory {
	width: 85px;
	height: 85px;
	border: double 5px transparent;
	border-radius: 50%;
	background-image: -webkit-gradient(
			linear,
			left top,
			left bottom,
			from(white),
			to(white)
		),
		-webkit-gradient(linear, left top, right bottom, from(#3023ae), to(#c86dd7));
	background-image: linear-gradient(white, white),
		linear-gradient(to bottom right, #3023ae, #c86dd7);
	background-origin: border-box;
	background-clip: content-box, border-box;
	margin: 0px 20px 50px 20px;
	position: relative;
}

.noStory {
	width: 85px;
	height: 85px;
	border: solid 5px lightgrey;
	border-radius: 50%;
	margin: 0px 20px 50px 20px;
	position: relative;
}

.stories::-webkit-scrollbar {
	height: 10px;
}
/* Track */
.stories::-webkit-scrollbar-track {
	background: #f6f7ff;
	margin: 40px;
	border-radius: 20px;
}

/* Handle */
.stories::-webkit-scrollbar-thumb {
	background: #d1e4ff;
	border-radius: 20px;
}

/* Handle on hover */
.stories::-webkit-scrollbar-thumb:hover {
	background: #653af6;
}

//////////////////////////////
//E. Top Cards 
//////////////////////////////

.shortHr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 2px solid white;
	margin: 1em 0;
	padding: 0;
	width: 25%;
	text-align: left;
	margin-left: 0;
}

@media screen and (max-width: 994px) {
			.resImg {
		height: 100px !important;
	}
}
@media screen and (max-width: 768px) {
		.resImg {
		height: 150px !important;
	}
}

@media screen and (max-width: 467px) {
		.resImg {
		height: 75px !important;
	}
}

@media screen and (max-width: 375px) {
	.resImg {
		display: none !important;
	}
	.resTxt {
		width: 100% !important;
	}
}


//////////////////////////////
//G. Reminder 
//////////////////////////////

.reminder {
	border-right: 5px solid #3023ae;
	border-radius: 10px;
}

input#search {
	background-image: url("img/plusCircle.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #f1f5f8;
	background-repeat: no-repeat;
	background-position: right;
	border-radius: 25px;
}

@media screen and (max-width: 994px) {
	::placeholder {
		display: block;
		font-size: 17px;
		padding-top: auto;
		padding-bottom: auto;
	}
}

@media screen and (max-width: 467px) {
	::placeholder {
		font-size: 12px;
		padding: auto;
	}
}

//////////////////////////////
//I. Events
//////////////////////////////


.vl {
	border-right: 2px solid #2579ff;
	height: 50px;
	position: absolute;
}

//////////////////////////////
//J. Milestones 
//////////////////////////////

.imgBg {
	background-color: #f6f7ff;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	text-align: center;
	z-index: 1;
	:hover {
		height: 55px;
		width: 55px;
		animation: rotate 2s 1;
		cursor: pointer;
	}
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}git
}



/* The timeline (the vertical ruler) */
.milestones::after {
	content: "";
	position: absolute;
	width: 3px;
	background-color: #f6f7ff;
	top: 15%;
	bottom: -52%;
	left: 74px;
	margin-left: -3px;
	z-index: 0;
	text-align: center;
}

//milestone custom scroll
.milestones::-webkit-scrollbar {
	width: 10px;
}
/*Scroll bar Track */
.milestones::-webkit-scrollbar-track {
	background: #f6f7ff;
	margin: 40px;
	border-radius: 20px;
}

/*Scroll Handle */
.milestones::-webkit-scrollbar-thumb {
	background: #d1e4ff;
	border-radius: 20px;
}

/* Handle on hover */
.milestones::-webkit-scrollbar-thumb:hover {
	background: #653af6;
}



//////////////////////////////
//K. Modals
//////////////////////////////

@media screen and (max-width: 467px) {

	.modal-content {
width:90vw !important;
height:auto !important;
	}
		.closeBtn {
		margin-right: 10px;
	}
}



@import "../node_modules/bootstrap/scss/bootstrap";