@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

$theme-colors: (
  "blue": #2579ff,
  "purple": #653af6,
  "light": #f6f7ff,
  "danger": #fc4663,
);

$gradient: linear-gradient(to bottom right, #3023ae, #c86dd7);
$blue: #2579ff;


html {
  font-family: Rubik !important;
}

h1 {
  font-weight: 500;
  font-size: 35px;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 14px !important;
}

p {
  font-weight: 400;
  font-size: 14px;
}

.tile {
  background-color: white;
  box-shadow: 5px 10px 20px #E5E7FF;
}

.alert {
  border-radius: 15px;
  height: 50%;
  background: red !important;
  color: white;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  perspective: 1px;
}

.doneBtn {
  position: relative;
  cursor: pointer;
  margin: -10px;
}

.center-block {
  margin: -10px;
}

.stories img:hover {
  cursor: pointer;
}

.hover:hover {
    cursor: pointer;
    background: #f6f7ff;
}

.closeBtn:hover {
  cursor: pointer;
}

.storyImg {
  padding: 5px;
  position: relative;
}

.stories p {
  margin-left: -15px;
  margin-right: -15px;
  padding-top: 10px;
  text-align: center;
}

.hasStory {
  width: 85px;
  height: 85px;
  border: double 5px transparent;
  border-radius: 50%;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(white),
      to(white)
    ),
    -webkit-gradient(linear, left top, right bottom, from(#3023ae), to(#c86dd7));
  background-image: linear-gradient(white, white),
    linear-gradient(to bottom right, #3023ae, #c86dd7);
  background-origin: border-box;
  background-clip: content-box, border-box;
  margin: 0px 20px 50px 20px;
  position: relative;
}

.noStory {
  width: 85px;
  height: 85px;
  border: solid 5px lightgrey;
  border-radius: 50%;
  margin: 0px 20px 50px 20px;
  position: relative;
}

.hide {
  display: none;
}

.shortHr{ 
  display: block; 
  height: 1px;
    border: 0; 
    border-top: 2px solid white;
    margin: 1em 0; padding: 0; 
    width: 25%;
    text-align:left;
    margin-left:0
  }

  .vl {
  border-right: 2px solid #2579ff;
  height: 50px;
  position: absolute;
  top: 0;
}

.br-10 {
  border-radius: 10px !important;
}

.imgBg {
  background-color:#F6F7FF;
  border-radius:50%; 
  height: 50px; 
  width: 50px;
  text-align: center;
  z-index: 1;
  :hover{
  height: 55px; 
  width: 55px;
  animation: rotate 2s 1;
  cursor: pointer;
}
}

@keyframes rotate {
  100% {transform: rotate(360deg);}

}



/* The timeline (the vertical ruler) */
.milestones {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  
}

/* The timeline (the vertical ruler) */
.milestones::after {
  content: '';
  position: absolute;
  width: 3px;
  background-color: #F6F7FF;
  top: 20%;
  bottom: 5%;
  left: 20%;
  margin-left: -3px;
    z-index: 0;
}

.reminder {
  border-right: 5px solid #3023ae;
  border-radius: 10px;
}

@import "node_modules/bootstrap/scss/bootstrap";
